.maincontainer {
  display: grid;
  grid-template-columns: 1fr;
  height: 45rem;
  width: 31.25rem;
  gap: 1rem;
  padding: 1rem;
  box-sizing: border-box;
  font-family: "Sawarabi Gothic", "Segoe UI Emoji", "Segoe UI Symbol",
    "Apple Color Emoji", "Noto Color Emoji", sans-serif;
  font-optical-sizing: auto;
  background-color: rgba(84, 108, 111, 0.5);
  border-radius: 1em;
}

.infoUSer_containers {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 43em;
  width: 29em;
}

.info_items {
  padding: 0.2em;
}

.info_title {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Alinea al principio (arriba) */
  padding: 0 1em;
  text-align: center;
}

.info_title h2 {
  font-size: 3em;
  height: 1.5em;
  width: 12em;
  border-radius: 0.2em;
  background-color: black;
}

.info_header {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(120px, 1fr)
  ); /* Columnas dinámicas */
  gap: 0.5em;
}

.info_header div {
  padding: 0.5em;
  border-radius: 1em;
  background-color: black;
  text-align: center;
}

.task-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.data {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 0.7em;
}

/* MODERADORES: Propiedades para el fondo y colores de tareas  */
.mod_fondo {
  background: url("/img/mod_fondo.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  border-radius: 1em;
  color: #86efac;
}

.mod_fondo .task-header {
  color: #86efac;
}

.mod_fondo .task-list {
  color: #86efac;
}

.mod_fondo .task-item {
  max-width: 26.99em;
  color: #86efac;
}

.mod_fondo .task-list .task-item {
  width: 100%;
}

.mod_fondo .task-item .task-id {
  background-color: #4ade80;
}

/* VIP: Propiedades para el fondo y colores de tareas  */

.vip_fondo {
  background: url("/img/vip_fondo.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  border-radius: 1em;
  color: rgb(222, 74, 151);
}

.vip_fondo .task-header {
  color: rgb(222, 74, 151);
}

.vip_fondo .task-list {
  color: rgb(222, 74, 151);
}

.vip_fondo .task-item {
  max-width: 26.99em;
  color: rgb(222, 74, 151);
}

.vip_fondo .task-list .task-item {
  width: 100%;
}

.vip_fondo .task-item .task-id {
  background-color: #db2777;
}

/* PRIME: Propiedades para el fondo y colores de tareas  */

.prime_fondo {
  background: url("/img/prime_fondo.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  border-radius: 1em;
  color: rgb(77, 209, 242);
}

.prime_fondo .task-header {
  color: rgb(77, 209, 242);
}

.prime_fondo .task-list {
  color: rgb(77, 209, 242);
}

.prime_fondo .task-item {
  max-width: 26.99em;
  color: rgb(77, 209, 242);
}

.prime_fondo .task-list .task-item {
  width: 100%;
}

.prime_fondo .task-item .task-id {
  background-color: #00b1f7;
}

/* SUS: Propiedades para el fondo y colores de tareas  */

.sus_fondo {
  background: url("/img/wiew.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  border-radius: 1em;
  color: rgb(206, 143, 243);
}

.sus_fondo .task-header {
  color: rgb(206, 143, 243);
}

.sus_fondo .task-list {
  color: rgb(206, 143, 243);
}

.sus_fondo .task-item {
  max-width: 26.99em;
  color: rgb(206, 143, 243);
}

.sus_fondo .task-list .task-item {
  width: 100%;
}

.sus_fondo .task-item .task-id {
  font-size: medium;
  background-color: rgb(171, 46, 243);
}

/* VIEWER: Propiedades para el fondo y colores de tareas  */

.user_fondo {
  background: url("/img/viewer.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  border-radius: 1em;
  color: rgb(143, 247, 236);
}

.user_fondo .task-header {
  color: rgb(143, 247, 236);
}

.user_fondo .task-list {
  color: rgb(143, 247, 236);
}

.user_fondo .task-item {
  max-width: 26.99em;
  color: rgb(143, 247, 236);
}

.user_fondo .task-list .task-item {
  width: 100%;
}

.user_fondo .task-item .task-id {
  font-size: medium;
  background-color: rgb(18, 226, 237);
}

/* YELLLOW: Propiedades para el fondo y colores de tareas  */
.amarrillo_fondo {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  border-radius: 1em;
  color: #fcd34d;
}

.amarrillo_fondo .task-header {
  color: #fcd34d;
}

.amarrillo_fondo .task-list {
  color: #fcd34d;
}

.amarrillo_fondo .task-item {
  max-width: 26.99em;
  color: #fcd34d;
}

.amarrillo_fondo .task-list .task-item {
  width: 100%;
}

.amarrillo_fondo .task-item .task-id {
  font-size: medium;
  background-color: #fcd34d;
}

/* MAGENTA: Propiedades para el fondo y colores de tareas  */
.magenta_fondo {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  border-radius: 1em;
  color: #f36cdd;
}

.magenta_fondo .task-header {
  color: #f36cdd;
}

.magenta_fondo .task-list {
  color: #f36cdd;
}

.magenta_fondo .task-item {
  max-width: 26.99em;
  color: #f36cdd;
}

.magenta_fondo .task-list .task-item {
  width: 100%;
}

.magenta_fondo .task-item .task-id {
  font-size: medium;
  background-color: #e41ac3;
}

/* AZUL: Propiedades para el fondo y colores de tareas  */

.azul_fondo .task-header {
  color: #15d4ff;
}

.azul_fondo .task-list {
  color: #15d4ff;
}

.azul_fondo .task-item {
  max-width: 26.99em;
  color: #15d4ff;
}

.azul_fondo .task-list .task-item {
  width: 100%;
}

.azul_fondo .task-item .task-id {
  font-size: medium;
  background-color: #12a0ec;
}

/* ROJO : Propiedades para el fondo y colores de tareas  */

.rojo_fondo .task-header {
  color: #ff8181;
}

.rojo_fondo .task-list {
  color: #ff8181;
}

.rojo_fondo .task-item {
  max-width: 26.99em;
  color: #ff8181;
}

.rojo_fondo .task-list .task-item {
  width: 100%;
}

.rojo_fondo .task-item .task-id {
  font-size: medium;
  background-color: #ff8181;
}

/* BLANCO : Propiedades para el fondo y colores de tareas  */

.blanco_fondo .task-header {
  color: #c8ecf4;
}

.blanco_fondo .task-list {
  color: #c8ecf4;
}

.blanco_fondo .task-item {
  max-width: 26.99em;
  color: #c8ecf4;
}

.blanco_fondo .task-list .task-item {
  width: 100%;
}

.blanco_fondo .task-item .task-id {
  font-size: medium;
  background-color: #c8ecf4;
}

/* AQUA : Propiedades para el fondo y colores de tareas  */

.aqua_fondo .task-header {
  color: #2ceded;
}

.aqua_fondo .task-list {
  color: #2ceded;
}

.aqua_fondo .task-item {
  max-width: 26.99em;
  color: #2ceded;
}

.aqua_fondo .task-list .task-item {
  width: 100%;
}

.aqua_fondo .task-item .task-id {
  font-size: medium;
  background-color: #2ceded;
}

/* CREMA : Propiedades para el fondo y colores de tareas  */

.crema_fondo .task-header {
  color: #f2955e;
}

.crema_fondo .task-list {
  color: #f2955e;
}

.crema_fondo .task-item {
  max-width: 26.99em;
  color: #f2955e;
}

.crema_fondo .task-list .task-item {
  width: 100%;
}

.crema_fondo .task-item .task-id {
  font-size: medium;
  background-color: #f2955e;
}

/* VERDE : Propiedades para el fondo y colores de tareas  */

.verde_fondo .task-header {
  color: #bcd955;
}

.verde_fondo .task-list {
  color: #bcd955;
}

.verde_fondo .task-item {
  max-width: 26.99em;
  color: #bcd955;
}

.verde_fondo .task-list .task-item {
  width: 100%;
}

.verde_fondo .task-item .task-id {
  font-size: medium;
  background-color: #bcd955;
}

/* ORANGE : Propiedades para el fondo y colores de tareas  */

.orange_fondo .task-header {
  color: #f87b33;
}

.orange_fondo .task-list {
  color: #f87b33;
}

.orange_fondo .task-item {
  max-width: 26.99em;
  color: #f87b33;
}

.orange_fondo .task-list .task-item {
  width: 100%;
}

.orange_fondo .task-item .task-id {
  font-size: medium;
  background-color: #f87b33;
}

/* YELLLOW: Propiedades para el fondo y colores de tareas  */
.amarrillo_patito_fondo {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  border-radius: 1em;
  color: #f0f2ac;
}

.amarrillo_patito_fondo .task-header {
  color: #f0f2ac;
}

.amarrillo_patito_fondo .task-list {
  color: #f0f2ac;
}

.amarrillo_patito_fondo .task-item {
  max-width: 26.99em;
  color: #f0f2ac;
}

.amarrillo_patito_fondo .task-list .task-item {
  width: 100%;
}

.amarrillo_patito_fondo .task-item .task-id {
  font-size: medium;
  background-color: #f0f2ac;
}

/* lAVANDA: Propiedades para el fondo y colores de tareas  */
.lavanda_fondo {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  border-radius: 1em;
  color: #bca7d9;
}

.lavanda_fondo .task-header {
  color: #bca7d9;
}

.lavanda_fondo .task-list {
  color: #bca7d9;
}

.lavanda_fondo .task-item {
  max-width: 26.99em;
  color: #bca7d9;
}

.lavanda_fondo .task-list .task-item {
  width: 100%;
}

.lavanda_fondo .task-item .task-id {
  font-size: medium;
  background-color: #af8ae4;
}

/* CELESTE: Propiedades para el fondo y colores de tareas  */
.celeste_fondo {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  border-radius: 1em;
  color: #5697bf;
}

.celeste_fondo .task-header {
  color: #5697bf;
}

.celeste_fondo .task-list {
  color: #5697bf;
}

.celeste_fondo .task-item {
  max-width: 26.99em;
  color: #5697bf;
}

.celeste_fondo .task-list .task-item {
  width: 100%;
}

.celeste_fondo .task-item .task-id {
  font-size: medium;
  background-color: #5697bf;
}

/* ROSA: Propiedades para el fondo y colores de tareas  */
.rosa_fondo {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  border-radius: 1em;
  color: #f2bdd0;
}

.rosa_fondo .task-header {
  color: #f2bdd0;
}

.rosa_fondo .task-list {
  color: #f2bdd0;
}

.rosa_fondo .task-item {
  max-width: 26.99em;
  color: #f2bdd0;
}

.rosa_fondo .task-list .task-item {
  width: 100%;
}

.rosa_fondo .task-item .task-id {
  font-size: medium;
  background-color: #f2bdd0;
}

/* LILA: Propiedades para el fondo y colores de tareas  */
.lila_fondo {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  border-radius: 1em;
  color: #ccbbf2;
}

.lila_fondo .task-header {
  color: #ccbbf2;
}

.lila_fondo .task-list {
  color: #ccbbf2;
}

.lila_fondo .task-item {
  max-width: 26.99em;
  color: #ccbbf2;
}

.lila_fondo .task-list .task-item {
  width: 100%;
}

.lila_fondo .task-item .task-id {
  font-size: medium;
  background-color: #ccbbf2;
}

/* BLANCO_ROSA: Propiedades para el fondo y colores de tareas  */

.blanco_rosa_fondo {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  border-radius: 1em;
  color: #f1ebf0;
}

.blanco_rosa_fondo .task-header {
  color: #f1ebf0;
}

.blanco_rosa_fondo .task-list {
  color: #f1ebf0;
}

.blanco_rosa_fondo .task-item {
  max-width: 26.99em;
  color: #f1ebf0;
}

.blanco_rosa_fondo .task-list .task-item {
  width: 100%;
}

.blanco_rosa_fondo .task-item .task-id {
  font-size: medium;
  background-color: #f1ebf0;
}

/* NARANJA: Propiedades para el fondo y colores de tareas  */

.naranja_fondo {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  border-radius: 1em;
  color: #f2a663;
}

.naranja_fondo .task-header {
  color: #f2a663;
}

.naranja_fondo .task-list {
  color: #f2a663;
}

.naranja_fondo .task-item {
  max-width: 26.99em;
  color: #f2a663;
}

.naranja_fondo .task-list .task-item {
  width: 100%;
}

.naranja_fondo .task-item .task-id {
  font-size: medium;
  background-color: #f2a663;
}


/* AZUL GRIS: Propiedades para el fondo y colores de tareas  */

.azul_gris_fondo {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  border-radius: 1em;
  color: #8AA6A6;
}

.azul_gris_fondo .task-header {
  color: #8AA6A6;
}

.azul_gris_fondo .task-list {
  color: #8AA6A6;
}

.azul_gris_fondo .task-item {
  max-width: 26.99em;
  color: #8AA6A6;
}

.azul_gris_fondo .task-list .task-item {
  width: 100%;
}

.azul_gris_fondo .task-item .task-id {
  font-size: medium;
  background-color: #8AA6A6;
}
