@tailwind base;
@tailwind components;
@tailwind utilities;

.vip_fondo {
  background: url("./img/vip_fondo.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.mod_fondo {
  background: url("./img/mod_fondo.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.prime_fondo {
  background: url("./img/prime_fondo.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.sus_fondo {
  background: url("./img/sus_fondo.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.viewer {
  background: url("./img/viewer_fondo.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

#insignia {
  padding-right: 10px;
  height: 40px;
  width: 40px;
}
