@import url("https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap");
@import "tailwindcss";
body {
  font-family: "Sawarabi Gothic", sans-serif;
}

/* FONDOS */

.maincontainer {
  display: grid;
  grid-template-columns: 1fr;
  height: 45rem;
  width: 31.25rem;
  gap: 1rem;
  padding: 1rem;
  box-sizing: border-box;
  font-family: "Sawarabi Gothic", "Segoe UI Emoji", "Segoe UI Symbol",
    "Apple Color Emoji", "Noto Color Emoji", sans-serif;
  font-optical-sizing: auto;
  background-color: rgba(84, 108, 111, 0.5);
  border-radius: 1em;
}

.infoUser_containers {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 43em;
  width: 29em; 
}

.container_header {
  margin: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header_user {
  background-color: black;
  width: 80%;
  height: 3em;
  border-radius: 1em;
  text-align: center;

}

.header_user h2{
  padding: 0;
  margin-top: 0.1em;
  font-size: 1.5em;
}

.header_info {
  margin: 0.5em;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.header_info div{
font-size: 0.9em;
background-color: black;
padding: 0.5em;
border-radius: 1em;
margin-left: 0.1em;
margin-bottom: 0.1em;
}


.data {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 0.7em;
}

/* Animación base reutilizable */
.hidden-section {
  opacity: 0;
  transform: translateY(20px);
  pointer-events: none;
}

.fade-in {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.8s cubic-bezier(0.22, 1, 0.36, 1);
}

/* Si querés que parezca más cinematográfico */
.fade-in {
  filter: blur(0);
  transform: translateY(0) scale(1);
}

.hidden-section {
  filter: blur(8px);
  transform: translateY(20px) scale(0.98);
}


/* MODERADORES: Propiedades para el fondo y colores de tareas  */
.mod {
  background: url("/img/mod_fondo.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  border-radius: 1em;
  color: #86efac;
}

.mod .task-header {
  color: #86efac;
}

.mod .task-list {
  color: #86efac;
}

.mod .task-item {
  max-width: 26.99em;
  color: #86efac;
}

.mod .task-list .task-item {
  width: 100%;
}

.mod .task-item .task-id {
  background-color: #4ade80;
}

/* VIP: Propiedades para el fondo y colores de tareas  */

.vip {
  background: url("/img/vip.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  border-radius: 1em;
  color: rgb(222, 74, 151);
}

.vip .task-header {
  color: rgb(222, 74, 151);
}

.vip .task-list {
  color: rgb(222, 74, 151);
}

.vip .task-item {
  max-width: 26.99em;
  color: rgb(222, 74, 151);
}

.vip .task-list .task-item {
  width: 100%;
}

.vip .task-item .task-id {
  background-color: #db2777;
}

/* PRIME: Propiedades para el fondo y colores de tareas  */

.prime {
  background: url("/img/prime.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  border-radius: 1em;
  color: rgb(77, 209, 242);
}

.prime .task-header {
  color: rgb(77, 209, 242);
}

.prime .task-list {
  color: rgb(77, 209, 242);
}

.prime .task-item {
  max-width: 26.99em;
  color: rgb(77, 209, 242);
}

.prime .task-list .task-item {
  width: 100%;
}

.prime .task-item .task-id {
  background-color: #00b1f7;
}

/* SUS: Propiedades para el fondo y colores de tareas  */

.sub {
  background: url("/img/sub.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  border-radius: 1em;
  color: #F2DCDE;
}

.sub .task-header {
  color: #F2DCDE;
}

.sub .task-list {
  color: #F2DCDE;
}

.sub .task-item {
  max-width: 26.99em;
  color: #F2DCDE;
}

.sub .task-list .task-item {
  width: 100%;
}

.sub .task-item .task-id {
  font-size: medium;
  background-color: rgb(171, 46, 243);
}

/* VIEWER: Propiedades para el fondo y colores de tareas  */

.none {
  background: url("/img/viewer.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  border-radius: 1em;
  color: rgb(143, 247, 236);
}

.none .task-header {
  color: rgb(143, 247, 236);
}

.none .task-list {
  color: rgb(143, 247, 236);
}

.none .task-item {
  max-width: 26.99em;
  color: rgb(143, 247, 236);
}

.none .task-list .task-item {
  width: 100%;
}

.none .task-item .task-id {
  font-size: medium;
  background-color: rgb(18, 226, 237);
}

/* Usuarios premium: Propiedades para el fondo y colores de tareas  */




/* Usuarios premium: Propiedades para el fondo y colores de tareas  */

/* -------------------------------------------------------- */

.mandaariina {
  color: #f2955e;
}

.mandaariina .task-header-title {
  color: #f2955e;
}

.mandaariina .task-item {
  color: #f2955e;
}

.mandaariina .task-item .task-id {
  font-size: medium;
  background-color: #f2955e;
}

/* -------------------------------------------------------- */

.antonellavrl_ {
  color: #fcd34d;
}

.antonellavrl_ .task-header-title {
  color: #fcd34d;
}

.antonellavrl_ .task-item {
  color: #fcd34d;
}

.antonellavrl_ .task-item .task-id {
  font-size: medium;
  background-color: #fcd34d;
}

/* -------------------------------------------------------- */

.summertime0805 {
  color: #f36cdd;
}

.summertime0805 .task-header-title {
  color: #f36cdd;
}

.summertime0805 .task-item {
  color: #f36cdd;
}

.summertime0805 .task-item .task-id {
  font-size: medium;
  background-color: #e41ac3;
}

/* -------------------------------------------------------- */

.gominola_opositora {
  color: #15d4ff;
}

.gominola_opositora .task-header-title {
  color: #15d4ff;
}

.gominola_opositora .task-item {
  color: #15d4ff;
}

.gominola_opositora .task-item .task-id {
  font-size: medium;
  background-color: #12a0ec;
}

/* -------------------------------------------------------- */

.chinita098 {
  color: #ff8181;
}

.chinita098 .task-header-title {
  color: #ff8181;
}

.chinita098 .task-item {
  color: #ff8181;
}

.chinita098 .task-item .task-id {
  font-size: medium;
  background-color: #ff8181;
}

/* -------------------------------------------------------- */

.agos__________ {
  color: #c8ecf4;
}

.agos__________ .task-header-title {
  color: #c8ecf4;
}

.agos__________ .task-item {
  color: #c8ecf4;
}

.agos__________ .task-item .task-id {
  font-size: medium;
  background-color: #c8ecf4;
}

/* -------------------------------------------------------- */

.sofiaantok {
  color: #fcd34d;
}

.sofiaantok .task-header-title {
  color: #fcd34d;
}

.sofiaantok .task-item {
  color: #fcd34d;
}

.sofiaantok .task-item .task-id {
  font-size: medium;
  background-color: #fcd34d;
}

/* -------------------------------------------------------- */

.jana10dv {
  color: #2ceded;
}

.jana10dv .task-header-title {
  color: #2ceded;
}

.jana10dv .task-item {
  color: #2ceded;
}

.jana10dv .task-item .task-id {
  font-size: medium;
  background-color: #2ceded;
}

/* -------------------------------------------------------- */

.mont_opo {
  color: #f2955e;
}

.mont_opo .task-header-title {
  color: #f2955e;
}

.mont_opo .task-item {
  color: #f2955e;
}

.mont_opo .task-item .task-id {
  font-size: medium;
  background-color: #f2955e;
}

/* -------------------------------------------------------- */

.camm_sss {
  color: #f87b33;
}

.camm_sss .task-header-title {
  color: #f87b33;
}

.camm_sss .task-item {
  color: #f87b33;
}

.camm_sss .task-item .task-id {
  font-size: medium;
  background-color: #f87b33;
}

/* -------------------------------------------------------- */

.antof253 {
  color: #d9936a;
}

.antof253 .task-header-title {
  color: #d9936a;
}

.antof253 .task-item {
  color: #d9936a;
}

.antof253 .task-item .task-id {
  font-size: medium;
  background-color: #f2955e;
}

/* -------------------------------------------------------- */

.rsofiaa {
  color: #c8ecf4;
}

.rsofiaa .task-header-title {
  color: #c8ecf4;
}

.rsofiaa .task-item {
  color: #c8ecf4;
}

.rsofiaa .task-item .task-id {
  font-size: medium;
  background-color: #c8ecf4;
}

/* -------------------------------------------------------- */

.wandazk {
  color: #f0f2ac;
}

.wandazk .task-header-title {
  color: #f0f2ac;
}

.wandazk .task-item {
  color: #f0f2ac;
}

.wandazk .task-item .task-id {
  font-size: medium;
  background-color: #f0f2ac;
}

/* -------------------------------------------------------- */

.olmediito {  
  color: #bca7d9;
}

.olmediito .task-header-title {
  color: #bca7d9;
}

.olmediito .task-item {
  color: #bca7d9;
}

.olmediito .task-item .task-id {
  font-size: medium;
  background-color: #af8ae4;
}

/* -------------------------------------------------------- */

.liln1k {
  color: #fcd34d;
}

.liln1k .task-header-title {
  color: #fcd34d;
}

.liln1k .task-item {
  color: #fcd34d;
}

.liln1k .task-item .task-id {
  font-size: medium;
  background-color: #fcd34d;
}

/* -------------------------------------------------------- */

.condrocita {         
  color: #f2bdd0;
}

.condrocita .task-header-title {
  color: #f2bdd0;
}

.condrocita .task-item {
  color: #f2bdd0;
}

.condrocita .task-item .task-id {
  font-size: medium;
  background-color: #f2bdd0;
}

/* -------------------------------------------------------- */

.kakarotita_ {
  color: #ccbbf2;
}

.kakarotita_ .task-header-title {
  color: #ccbbf2;
}

.kakarotita_ .task-item {
  color: #ccbbf2;
}

.kakarotita_ .task-item .task-id {
  font-size: medium;
  background-color: #ccbbf2;
}

/* -------------------------------------------------------- */

.karlitarachel {
  color: #f1ebf0;
}

.karlitarachel .task-header-title {
  color: #f1ebf0;
}

.karlitarachel .task-item {
  color: #f1ebf0;
}

.karlitarachel .task-item .task-id {
  font-size: medium;
  background-color: #f1ebf0;
}

/* -------------------------------------------------------- */

.ruidodemate_rocio {
  color: #f2a663;
}

.ruidodemate_rocio .task-header-title {
  color: #f2a663;
}

.ruidodemate_rocio .task-item {
  color: #f2a663;
}

.ruidodemate_rocio .task-item .task-id {
  font-size: medium;
  background-color: #f2a663;
}

/* -------------------------------------------------------- */

.crissworkoutt {
  color: #f2bdd0;
}

.crissworkoutt .task-header-title {
  color: #f2bdd0;
}

.crissworkoutt .task-item {
  color: #f2bdd0;
}

.crissworkoutt .task-item .task-id {
  font-size: medium;
  background-color: #f2bdd0;
}

/* -------------------------------------------------------- */

.sofamb1 {
  color: #F2C438;
}   

.sofamb1 .task-header-title {
  color: #F2C438;
}

.sofamb1 .task-item {
  color: #F2C438;
}

.sofamb1 .task-item .task-id {
  font-size: medium;
  background-color: #F2C438;
}

/* -------------------------------------------------------- */

.macacuelloo {
  color: #f2bdd0;
}

.macacuelloo .task-header-title {
  color: #f2bdd0;
}

.macacuelloo .task-item {
  color: #f2bdd0;
}

.macacuelloo .task-item .task-id {
  font-size: medium;
  background-color: #f2bdd0;
}

/* -------------------------------------------------------- */

.bleisny {
  color: #bcd955;
}

.bleisny .task-header-title {
  color: #bcd955;
}

.bleisny .task-item {
  color: #bcd955;
}

.bleisny .task-item .task-id {
  font-size: medium;
  background-color: #bcd955;
}

/* -------------------------------------------------------- */

.fla_vius_ {
  color: #f257a0;
}

.fla_vius_ .task-header-title {
  color: #f257a0;
}

.fla_vius_ .task-item {
  color: #f257a0;
}

.fla_vius_ .task-item .task-id {
  font-size: medium;
  background-color: #f257a0;
}

/* -------------------------------------------------------- */
.mariong898 {
  color: #d9a74a;
}

.mariong898 .task-header-title {
  color: #d9a74a;
}

.mariong898 .task-item {
  color: #d9a74a;
}

.mariong898 .task-item .task-id {
  font-size: medium;
  background-color: #d9a74a;
}

/* -------------------------------------------------------- */
.Mariong898 {
  color: #d9a74a;
}

.Mariong898 .task-header-title {
  color: #d9a74a;
}

.Mariong898 .task-item {
  color: #d9a74a;
}

.Mariong898 .task-item .task-id {
  font-size: medium;
  background-color: #d9a74a;
}



/* -------------------------------------------------------- */

.valenm07 {
  color: #b75eeb;
}

.valenm07 .task-header-title {
  color: #b75eeb;
}

.valenm07 .task-item {
  color: #b75eeb;
}

.valenm07 .task-item .task-id {
  font-size: medium;
  background-color: #b75eeb;
}

/* -------------------------------------------------------- */

.mmmericina {
  color:  #EBB9A8;
}

.mmmericina .task-header-title {
  color:  #EBB9A8;
}

.mmmericina .task-item {
  color:  #EBB9A8;
}

.mmmericina .task-item .task-id {
  font-size: medium;
  background-color:  #EBB9A8;
}

/* -------------------------------------------------------- */

.micaaavllr {
  color: #F2D272;
}

.micaaavllr .task-header-title {
  color: #F2D272;
}

.micaaavllr .task-item {
  color: #F2D272;
}

.micaaavllr .task-item .task-id {
  font-size: medium;
  background-color: #F2D272;
}


.misucarla_ {
  color: #c9eb81;
}

.misucarla_ .task-header-title {
  color: #c9eb81;
}

.misucarla_ .task-item {
  color: #c9eb81;
}

.misucarla_ .task-item .task-id {
  font-size: medium;
  background-color: #c9eb81;
}

/* -------------------------------------------------------- */
.medicensosoxp {
  color: #F1F2C2;
}

.medicensosoxp .task-header-title {
  color: #F1F2C2;
}

.medicensosoxp .task-item {
  color: #F1F2C2;
}

.medicensosoxp .task-item .task-id {
  font-size: medium;
  background-color: #F1F2C2;
}

/* -------------------------------------------------------- */

.rocio_adm {
  color: #f59444;
}

.rocio_adm .task-header-title {
  color: #f59444;
}

.rocio_adm .task-item {
  color: #f59444;
}

.rocio_adm .task-item .task-id {
  font-size: medium;
  background-color: #f59444;
}

/* -------------------------------------------------------- */

.romatwch {
  color: #F2A7B5;
}

.romatwch .task-header-title {
  color: #F2A7B5;
}

.romatwch .task-item {
  color: #F2A7B5;
}

.romatwch .task-item .task-id {
  font-size: medium;
  background-color: #F2A7B5;
}

/* -------------------------------------------------------- */

.cande_pl {
  color: #9bf272;
}

.cande_pl .task-header-title {
  color: #9bf272;
}

.cande_pl .task-item {
  color: #9bf272;
}

.cande_pl .task-item .task-id {
  font-size: medium;
  background-color: #9bf272;
}

/* -------------------------------------------------------- */

.butterflylander {
  color: #f9fcfc;
}

.butterflylander .task-header-title {
  color: #f9fcfc;
}

.butterflylander .task-item {
  color: #f9fcfc;
}

.butterflylander .task-item .task-id {
  font-size: medium;
  background-color: #f9fcfc;
}

/* -------------------------------------------------------- */

.camiichan15 {
  color: #ec81c8;
}

.camiichan15 .task-header-title {
  color: #ec81c8;
}

.camiichan15 .task-item {
  color: #ec81c8;
}

.camiichan15 .task-item .task-id {
  font-size: medium;
  background-color: #ec81c8;
}

/* -------------------------------------------------------- */

.lulaluzz {
  color: #D9D9D9;
}

.lulaluzz .task-header-title {
  color: #D9D9D9;
}

.lulaluzz .task-item {
  color: #D9D9D9;
}

.lulaluzz .task-item .task-id {
  font-size: medium;
  background-color: #D9D9D9;
}

/* -------------------------------------------------------- */

.andirivero1312 {
  color: #AEA7D9;
}

.andirivero1312 .task-header-title {
  color: #AEA7D9;
}

.andirivero1312 .task-item {
  color: #AEA7D9;
}

.andirivero1312 .task-item .task-id {
  font-size: medium;
  background-color: #AEA7D9;
}

/* -------------------------------------------------------- */
.serolae {
  color: #F2CED5;
}

.serolae .task-header-title {
  color: #F2CED5;
}

.serolae .task-item {
  color: #F2CED5;
}

.serolae .task-item .task-id {
  font-size: medium;
  background-color: #F2CED5;
}
/* -------------------------------------------------------- */

.valetpwk {
  color: #D9B4BE ;
}

.valetpwk .task-header-title {
  color: #D9B4BE ;
}

.valetpwk .task-item {
  color: #D9B4BE ;
}

.valetpwk .task-item .task-id {
  font-size: medium;
  background-color: #D9B4BE ;
}

/* -------------------------------------------------------- */

.pablinn12lp {
  color: #BFB8AE;
}

.pablinn12lp .task-header-title {
  color: #BFB8AE ;
}

.pablinn12lp .task-item {
  color: #BFB8AE ;
}

.pablinn12lp .task-item .task-id {
  font-size: medium;
  background-color: #BFB8AE ;
}

/* -------------------------------------------------------- */

.polarizemile {
  color: #F2B077;
}

.polarizemile .task-header-title {
  color: #F2B077;
}

.polarizemile .task-item {
  color: #F2B077;
}

.polarizemile .task-item .task-id {
  font-size: medium;
  background-color: #F2B077;
}
/* -------------------------------------------------------- */

/* -------------------------------------------------------- */

.diaaazm {
  color: #F2C2CF;
}

.diaaazm .task-header-title {
  color: #F2C2CF;
}

.diaaazm .task-item {
  color: #F2C2CF;
}

.diaaazm .task-item .task-id {
  font-size: medium;
  background-color: #F2C2CF;
}
/* -------------------------------------------------------- */

/* -------------------------------------------------------- */

.boniataereunarata {
  color: #d4c5fc;
}

.boniataereunarata .task-header-title {
  color: #d4c5fc;
}

.boniataereunarata .task-item {
  color: #d4c5fc;
}

.boniataereunarata .task-item .task-id {
  font-size: medium;
  background-color: #d4c5fc;
}
/* -------------------------------------------------------- */

/* -------------------------------------------------------- */
/* #F2D272 */
.cuartodechenz {
  color: #F2D272;
}

.cuartodechenz .task-header-title {
  color: #F2D272;
}

.cuartodechenz .task-item {
  color: #F2D272;
}

.cuartodechenz .task-item .task-id {
  font-size: medium;
  background-color: #F2D272;
}
/* -------------------------------------------------------- */